body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 30px; */
  background-color: #FF5B00;
  padding-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 0 20% !important;
  text-align: center;
  gap: 10px;
}

.btn-create {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-delete {
  display: inline-block;
  background: #990000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.input-text {
  border-radius: 5px;
  padding-left: 10px;
  border: 2px solid #990000;
}

.bottom-container {
  background-color: #FFEE63;
  padding-bottom: 20px;
}

.dish-card {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  align-items: center;
  gap: 7px;
}

.img-food {
  border-radius: 10px;
}

#file-upload-button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
